---
import { Navbar, Tabs, TabsMobile, Planet } from "@/components/index";
import { type LayoutProps } from "@/types/Planet";
import iconSource from "@/assets/img/icon-source.svg";
import { ViewTransitions } from "astro:transitions";
import "@/styles/global.css";

type Props = LayoutProps;

const {
	planet: {
		name,
		images,
		rotation,
		revolution,
		content,
		source,
		radius,
		temperature,
		tabColor,
		type,
	},
} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;700&display=swap"
			rel="stylesheet"
		/>
		<ViewTransitions />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{name}</title>
	</head>
	<body
		class="flex h-full w-full flex-col items-center overflow-y-hidden text-white xl:overflow-y-auto"
	>
		<header
			class="navbar border-b border-b-white border-opacity-20 bg-transparent md:block md:pb-9 xl:sticky xl:top-0 xl:flex xl:p-0 xl:px-5 xl:pb-0"
		>
			<Navbar />
		</header>
		<TabsMobile type={type} name={name} tabColor={tabColor} />
		<main
			class="flex max-w-full grow flex-col justify-between overflow-y-auto px-5 md:gap-5 xl:max-w-7xl xl:overflow-y-visible"
		>
			<div
				class="flex grow flex-col justify-between xl:my-auto xl:grow-0 xl:flex-row"
			>
				<div class="flex w-full xl:w-1/2">
					<Planet images={images} name={name} type={type} />
				</div>
				<div
					class="md:mb-0 md:mt-auto md:flex md:flex-col md:gap-5 xl:mt-0 xl:w-1/3 xl:justify-center"
				>
					<div class="md:flex md:flex-wrap">
						<h2
							class="mb-6 text-center uppercase md:w-full md:text-left xl:w-fit xl:text-8xl"
						>
							{name}
						</h2>
						<div class="md:w-1/2 xl:w-full">
							<p
								transition:animate="slide"
								class="mb-8 text-center leading-snug md:text-left"
							>
								{content}
							</p>
							<p class="mb-8 text-center opacity-50 md:text-left">
								Source: <a
									class="font-bold underline"
									href={source}
									target="_blank">Wikipedia</a
								>
								<img
									class="ml-1 inline"
									src={iconSource.src}
									alt=""
								/>
							</p>
						</div>
						<Tabs type={type} name={name} tabColor={tabColor} />
					</div>
				</div>
			</div>
			<div
				transition:name={`info-rail-${name}`}
				transition:persist
				class="w-full md:flex md:gap-5 xl:mb-0 xl:mt-auto"
			>
				<div class="info-card">
					<h4>rotation time</h4>
					<p>{rotation}</p>
				</div>
				<div class="info-card">
					<h4>revolution time</h4>
					<p>{revolution}</p>
				</div>
				<div class="info-card">
					<h4>radius</h4>
					<p>{radius}</p>
				</div>
				<div class="info-card">
					<h4>average temp.</h4>
					<p>{temperature}</p>
				</div>
			</div>
			<style>
				.info-card {
					@apply mb-2 flex grow justify-between border border-white border-opacity-20 px-6 py-3 uppercase md:block md:text-start md:text-xs xl:py-5;
				}

				.info-card h4 {
					@apply opacity-50;
				}

				.info-card p {
					@apply text-xl font-bold md:text-2xl xl:text-4xl;

					letter-spacing: -0.9px;
				}
			</style>
		</main>
	</body>
</html>
