---
import { Navbar } from "@/components/index";
import bg from "@/assets/img/background-stars.svg";
import { type LayoutProps } from "@/types/Planet";
import iconSource from "@/assets/img/icon-source.svg";
import { ViewTransitions } from "astro:transitions";

type Props = LayoutProps;

const {
	planet: {
		name,
		images,
		rotation,
		revolution,
		content,
		source,
		radius,
		temperature,
		tabColor,
		type,
	},
} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;700&display=swap"
			rel="stylesheet"
		/>
		<ViewTransitions />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{name}</title>
	</head>
	<body class="flex h-full w-full flex-col text-white">
		<header class="navbar bg-transparent">
			<Navbar />
		</header>
		<div class="tabs border border-x-0 border-y-white border-opacity-20">
			<div
				class:list={{
					"tab-active": type === "overview",
				}}
				class="tab tab-bordered"
			>
				<a href={`/${name.toLowerCase()}/overview`}>overview</a>
			</div>
			<div
				class:list={{
					"tab-active": type === "structure",
				}}
				class="tab tab-bordered"
			>
				<a href={`/${name.toLowerCase()}/structure`}>structure</a>
			</div>
			<div
				class:list={{
					"tab-active": type === "geology",
				}}
				class="tab tab-bordered"
			>
				<a href={`/${name.toLowerCase()}/geology`}>surface</a>
			</div>
		</div>
		<main class="grow overflow-y-auto px-5">
			<div transition:animate="slide" class="flex w-full">
				{
					type === "geology" ? (
						<div class="relative m-auto h-auto">
							<img
								class="planet "
								src={images.overview}
								alt={`${name} planet image overview`}
							/>
							<img
								class="planet absolute"
								style={{
									scale: 0.3,
									top: "10%",
								}}
								src={images.geology}
								alt={`${name} planet image geology`}
							/>
						</div>
					) : (
						<img
							class="planet m-auto h-auto"
							src={images[type as keyof typeof images]}
							alt={`${name} planet image`}
						/>
					)
				}
			</div>
			<h2 class="bold mb-6 text-center uppercase">{name}</h2>
			<p transition:animate="slide" class="mb-8 text-center leading-snug">
				{content}
			</p>
			<p class="mb-8 text-center opacity-50">
				Source: <a
					class="font-bold underline"
					href={source}
					target="_blank">Wikipedia</a
				>
				<img class="ml-1 inline" src={iconSource.src} alt="" />
			</p>
			<div
				transition:persist
				transition:name="rotation"
				class="info-card"
			>
				<h4>rotation time</h4>
				<p>{rotation}</p>
			</div>
			<div
				transition:persist
				transition:name="revolution"
				class="info-card"
			>
				<h4>revolution time</h4>
				<p>{revolution}</p>
			</div>
			<div transition:persist transition:name="radius" class="info-card">
				<h4>radius</h4>
				<p>{radius}</p>
			</div>
			<div
				transition:persist
				transition:name="temperature"
				class="info-card"
			>
				<h4>average temp.</h4>
				<p>{temperature}</p>
			</div>
			<style>
				.planet {
					transform: scale(0.4);
				}

				.info-card {
					@apply mb-2 flex justify-between border border-white border-opacity-20 px-6 py-3 uppercase;
				}

				.info-card h4 {
					@apply opacity-50;
				}

				.info-card p {
					@apply text-xl font-bold;

					letter-spacing: -0.75px;
				}
			</style>
		</main>
		<style define:vars={{ bc: tabColor }}></style>
		<style is:global define:vars={{ bg: `url(${bg.src})` }}>
			:root {
				--base: #070724;
			}
			* {
				font-family: "Spartan", sans-serif;
				font-size: 14px;
				line-height: 25px;
				font-weight: 400;
			}

			html {
				height: 100vh;
				width: 100%;
				overflow: hidden;
			}

			body {
				height: 100vh;
				background-color: var(--base);
				background-image: var(--bg);
				background-size: cover;
				overflow: hidden;
			}

			h1,
			h2 {
				font-family: "Antonio", sans-serif;
			}

			h1 {
				font-size: 80px;
				font-weight: 500;
				line-height: 103px;
			}

			h2 {
				font-size: 40px;
				font-weight: 500;
				line-height: 52px;
				word-spacing: -1.5ch;
			}

			h3 {
				font-size: 12px;
				font-weight: 700;
				line-height: 25px;
				word-spacing: +2.6ch;
			}

			h4 {
				font-size: 11px;
				font-weight: 700;
				line-height: 25px;
				word-spacing: 1ch;
			}

			.tab {
				@apply h-fit grow py-3  uppercase text-white text-opacity-50;
			}

			.tab a {
				@apply font-bold;
			}
		</style>
	</body>
</html>
